body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;

    font-family: 'Ibarra Real Nova', serif;

}

nav {
    min-height: 6vh;
}

main {
    flex-grow: 1;
}

.hero-img {
    background-image: url(https://images.unsplash.com/photo-1600596542815-ffad4c1539a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aG91c2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.card {
    transform: translateY(-60px);
}

body.debug .container,
body.debug .container-fluid {
    outline: 2px double blue;
    outline-offset: -2px;
}

body.debug .row {
    outline: 2px dashed red;
    outline-offset: -2px;
}

body.debug [class*="col-"] {
    outline: 2px dotted forestgreen;
    outline-offset: -3px;
}

.main-card {
    height: 350px;
    width: 400px;
}

.left-card {
    height: 300px;
    width: 300px;
}

.right-card {
    height: 300px;
    width: 300px;
}

@media (max-width: 768px) {
    .hidden {
        background-image: none;
        display: none;

    }
}

@media(max-width: 768px) {
    .hide-img {

        background-image: none;
    }

}

@media (max-width: 768px) {
    .card {
        transform: none;


    }

}

@media (max-width: 768px) {
    .main-card {
        order: 1;
    }

    .left-card {
        order: 2;
    }

    .right-card {
        order: 3;

    }
}